* {
  font-family: monospace;
}

.logo {
  width: 100px;
  height: 100px;
}


body {
    margin: 0;
    display: block;
    justify-content: center;
  align-items: center;
  background-color: black;
  /* height: 100vh; */
  }

  .nav_links {
    list-style: none;

  }
  
  .nav_links li {
    display: inline-block;
    padding: 0px 20px;
    color: white;
    margin-right: 60px;
    
  }
  
  .nav_links li a {
    transition: all 0.3s ease 0s;
    position: relative;
    text-decoration: none;
    color: white;

  }
  
  .nav_links li a:hover {
    color: #0088a9;
  }
  
  .nav_links li a::before {
    content: "";
    position: absolute;
    bottom: -10px; /* Adjust as needed */
    width: 100%;
    height: 2px; /* thickness */
    background-color: #0088a9;
    transform: scaleX(0); /* Initially hidden */
    transform-origin: center bottom; /* Origin at left bottom */
    transition: transform 0.5s ease;
  }
  
  .nav_links li a:hover::before {
    transform: scaleX(1); /* Show underline on hover */
    
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    
  }

  #drawing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }


  #drawing {
    text-align: center;
    width: 600px;
    height: 612px;
      border: 2px solid black;
      background-color: white;
  }

  #centerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

 #imageGallery {
    justify-content: center;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: vh;
    border: 1px solid black;
    background-color: white;
 }

 h1, h2 {
    text-align: center;
    margin-top: 20px;
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
 }

 h2 {
    cursor: pointer;
    border-radius: 20px;
    background-color: lightgray;
    color: black;
 }

 img {
  text-align: center;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
 }
 
#imageBox {
  text-align: center;
  display: flex; 
  flex-wrap: wrap;
  color: white;
}

button {
margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
