/* #aad3de colour of map*/
.leaflet-control-container { position: absolute; right: 315px } 

body {
    font-family: monospace;
    background-color:  black;
}

#map { 
    height: 700px;
    width: calc(100% - 200px); 
    margin: 20px auto; 
    border-radius: 400px;
   
}

.popup-content {
    text-align: center;
  
}

#submitAnswer {
    margin-top: 15px;
    font-family: monospace;
    border-radius: 10px;
}

nav, #container {
    margin-top: 40px;
    /* border: 1px solid white; */
    border-radius: 10px;
    font-family: monospace;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: black;
}

nav {
    text-align: center;
    
    margin-bottom: 100px;
}

#container {
    margin-top: 10px;
    margin-left: 50px;
    border: 1px solid white;
}



.marker {
background-color: white;
color: black;

}
