/* #aad3de colour of map*/

body {
    background-color:  black;
}

#map { 
    height: 600px;
    width: calc(100% - 200px); 
    margin: 20px auto; 
    border-radius: 80px;
   
}

.popup-content {
    text-align: center;
  
}

#submitAnswer {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

nav, #container {
    margin-top: 40px;
    border: 1px solid white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    cursor: pointer;
    background-color: #aad3de;
}

nav {
    margin-left: 50px ;
}

#container {
    margin-top: 10px;
    margin-left: 50px;
}



.marker {
background-color: white;
color: black;

}
