/* #aad3de colour of map*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

.leaflet-control-container { position: absolute; right: 315px } 

body {
    font-family: monospace;
    background-color:  white;
}

#map { 
    height: 700px;
    width: calc(100% - 200px); 
    margin: 20px auto; 
    border-radius: 400px;
    border: 10px solid #f2efe9;
   
}

.popup-content {
    text-align: center;
  
}

#submitAnswer {
    margin-top: 15px;
    font-family: 'Fredoka', sans-serif;;
    border-radius: 10px;
}

nav, #container {
    margin-top: 40px;
    /* border: 1px solid white; */
    border-radius: 10px;
    font-family: 'Fredoka', sans-serif;
    color: black;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

nav {
    text-align: center;
    
    margin-bottom: 100px;
}

#container {
    margin-top: 10px;
   margin-left: 50px;
   margin-right: 50px;
    border: 5px solid #f95565;
}



.marker {
background-color: white;
color: black;

}

h1 {
    font-size: 60px;
    letter-spacing: 4px;
}

p {
    font-size: 20px;
}
