/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
  }

h1 {
    font-family: "Montserrat, sans-serif";
    font-weight: 500;
    font-size: 50px;
    color: #edf0f1;
    text-align: center;
  }

  h2 {
    padding-bottom: 20px;
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
    color: #edf0f1;
    text-align: center;
    font-family: "Montserrat, sans-serif"
  }

  .logo {
    width: 100px;
  }

  .nav_links {
    list-style: none;
    background-color: #edf0f1;
  }
  
  .nav_links li {
    display: inline-block;
    padding: 0px 20px;
  }
  
  .nav_links li a {
    transition: all 0.3s ease 0s;
  }

  .nav_links li a:hover {
    color: #0088a9;
  }

  button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  li,
a,
button {
  font-family: "Montserrat, sans-serif";
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
  }

.columns {
    font-family: "Montserrat, sans-serif";
    color: #edf0f1;
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .column {
    flex: 1;
    border: 1px solid black;
    margin: 2px;
    padding: 20px;
    transition: 1s;
  }

  .column.flipped {
    cursor: pointer;
    transform: rotateY(180deg);
  }

  p{
    color: #edf0f1;
  }

  section{
    color: #edf0f1;
  }

  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-box:active .flip-box-inner {
    transform: rotateY(180deg);
  }

  .flip-box-front {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-box-back {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }


  .flip-box-front {
    background-color: #bbb;
    color: black;
  }

  .flip-box-back {
    background-color: dodgerblue;
    color: black;
    transform: rotateY(180deg);
  } */

  
  .logo {
    width: 100px;
  }
  
  .nav_links {
    list-style: none;
  }
  
  .nav_links li {
    display: inline-block;
    padding: 0px 20px;
  }
  
  .nav_links li a {
    transition: all 0.3s ease 0s;
    position: relative;
  }
  
  .nav_links li a:hover {
    color: #0088a9;
  }
  
  .nav_links li a::before {
    content: "";
    position: absolute;
    bottom: -10px; /* Adjust as needed */
    width: 100%;
    height: 2px; /* thickness */
    background-color: #0088a9;
    transform: scaleX(0); /* Initially hidden */
    transform-origin: center bottom; /* Origin at left bottom */
    transition: transform 0.5s ease;
  }
  
  .nav_links li a:hover::before {
    transform: scaleX(1); /* Show underline on hover */
  }
  button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  li,
  a,
  button {
    font-family: "Montserrat, sans-serif";
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
  }
  
  h1 {
    font-family: "Montserrat, sans-serif";
    font-weight: 500;
    font-size: 50px;
    text-align: center;
  }
  
  .instructions {
    font-family: "Montserrat, sans-serif";
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
  }
  
  h2 {
    padding-bottom: 0px;
    text-align: center;
  }

  .flex-container{
    display: flex;
    justify-content: center;
  }

  .container{
    margin:10px;
    display: block;
    height: 500px;
    width: 500px;
  }

  .container:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg)
  }

  .card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
  }

  .front,
  .back{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 20px;
  }

  #front1{
    background-image: url("https://img.theculturetrip.com/wp-content/uploads/2017/01/candombe3.jpg/")
  }

  #front2{
    background-image: url("https://pampeano.co.uk/cdn/shop/articles/4274.jpg")
  }

  #front3{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Murgas_%28Vazquez%2C_Marzo_2005_-1%29.jpg/1200px-Murgas_%28Vazquez%2C_Marzo_2005_-1%29.jpg")
  }

  #front4{
    background-image: url("https://www.latercera.com/resizer/EpZDke7Ibx_w1W_-Sr42DcYogLY=/900x600/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/S6MKZMC2P5BW3FH5TRLAANGV5I.jpg")
  }

  .back{
    background-color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .one{
    display: block;
    margin: 10px;
  }

  input[type = text]{
    align-content:right;
    margin-left: 50px;
    margin-right: 50px;
  }

  #two{
    width: 100px;
    background-color: green;
  }

  #three{
    width: 100px;
    background-color: green;
  }