/* Imports "Jakarta Sans" stylesheet */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap");

/* Applies the following styles to all elements in the document */
* {
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  box-sizing: border-box;
  color: #333333;
  background-color: #f5f5f4;
}

img.logo {
  transform: scale(1.5); /* Scale the image by 1.5 times */
  width: 100px;
}

.nav_links {
  list-style: none; /* Remove the bullet points from list items */
  padding-left: 0px;
}

.nav_links li {
  display: inline-block; /* Displays list items side by side */
  padding: 0px 30px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  position: relative;
}

.nav_links li a:hover {
  color: #77dd77;
}

.nav_links li a::before {
  content: ""; /* Empty content before the hyperlink text for underline effect */
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 2px; /* thickness */
  background-color: #77dd77;
  transform: scaleX(0); /* Initially hidden */
  transform-origin: center bottom; /* Origin at centre bottom */
  transition: transform 0.5s ease;
}

.nav_links li a:hover::before {
  transform: scaleX(1); /* Show underline on hover */
}

button {
  padding: 9px 25px;
  background-color: #aad3de;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  cursor: pointer; /* Change the cursor to a pointer on hover (indicating it's clickable) */
}

button:hover {
  background-color: #77dd77;
}

li,
a,
button {
  text-decoration: none; /* USELESS??? */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.title {
  font-size: 70px;
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.instructions {
  text-align: center;
}

h2 {
  text-align: center;
}

.columns {
  padding: 5px;
  max-width: 960px;
  width: 95%;
  margin: 0px auto; /* IS "0PX" NEEDED??? - Center the container horizontally by setting the left and right margins to "auto" */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.column {
  flex: 1;
  margin: 50px;
  padding: 20px;
  margin-bottom: 20px;
  transition: 1s;
  position: relative; /*Creates stacking context*/
}

.front,
.back {
  /*Common styles for both sides*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Prevent flickering during flip */
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front li {
  padding: 10px;
  list-style: none;
}

.front ul {
  border-top: 3px solid #aad3de;
}

.front {
  z-index: 2; /*Ensures the front is on the top*/
}

.back {
  transform: rotateY(180deg);
}

.column.flipped .front {
  cursor: pointer;
  transform: rotateY(180deg);
  z-index: 1;
}

.column.flipped .back {
  transform: rotateY(0);
}

.column.flipped .back .answer {
  border-bottom: 3px solid #aad3de;
  padding: 7px;
  margin: 10px;
}

.column.flipped .back h1 {
  border-bottom: 3px solid #aad3de;
}

.question {
  padding: 10px 20px;
}

#randomFactText {
  display: none;
  flex-flow: row wrap;
  justify-content: left;
  border: 2px solid #aad3de;
  border-radius: 5px;
  width: 23.5vh;
  margin-top: 10px;
  padding: 5px;
  line-height: 20px;
}

.back ul li {
  margin: 1rem;
}

.back ul li label {
  cursor: pointer;
}

#result {
  position: absolute;
  background-color: #aad3de;
  border-radius: 5px;
}
