@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

.logo {
  width: 100px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

li,
a,
button {
  font-family: "Montserrat, sans-serif";
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

h1 {
  font-family: "Montserrat, sans-serif";
  font-weight: 500;
  font-size: 50px;
  color: #edf0f1;
  text-align: center;
}

h2 {
  padding-bottom: 0px;
  text-align: center;
}

.columns {
  font-family: "Montserrat, sans-serif";
  color: #edf0f1;
  padding: 5px;
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.column {
  flex: 1;
  margin: 20px;
  padding: 20px;
  transition: 1s;
  position: relative; /*Creates stacking context*/
}

.front,
.back {
  /*Common styles for both sides*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Prevent flickering during flip */
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front li {
  padding: 10px;
  list-style: none;
}

.front ul {
  border-top: 3px solid rgba(0, 136, 169, 1);
}

.front {
  z-index: 2; /*Ensures the front is on the top*/
}

.back {
  transform: rotateY(180deg);
}

.column.flipped .front {
  cursor: pointer;
  transform: rotateY(180deg);
  z-index: 1;
}

.column.flipped .back {
  transform: rotateY(0);
}

img {
  object-fit: cover;
  max-width: 100%;
}

.back ul {
  list-style: none;
}

.back ul li {
  margin: 1rem;
}

.back ul li label {
  cursor: pointer;
}

#result {
  font-size: 22px;
  position: absolute;
  background-color: rgba(0, 136, 169, 1);
  border-radius: 5px;
}
