@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

.logo {
  width: 100px;
}

.nav_links {
  list-style: none;
  background-color: #edf0f1;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

li,
a,
button {
  font-family: "Montserrat, sans-serif";
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

h1 {
  font-family: "Montserrat, sans-serif";
  font-weight: 500;
  font-size: 50px;
  color: #edf0f1;
  text-align: center;
}

h2 {
  padding-bottom: 20px;
}

.columns {
  font-family: "Montserrat, sans-serif";
  color: #edf0f1;
  padding: 5px;
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.column {
  flex: 1;
  border: 1px solid;
  margin: 2px;
  padding: 20px;
  transition: 1s;
}

.column.flipped {
  cursor: pointer;
  transform: rotateY(180deg);
}
