*{
  font-family: 'Fredoka', sans-serif;
}

/* top of page */

.nav_links {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  position: relative;
}

.nav_links li a:hover {
  color: #FBA0AA;
}

.nav_links li a::before {
  content: "";
  position: absolute;
  bottom: -10px; /* Adjust as needed */
  width: 100%;
  height: 2px; /* thickness */
  color: #F95565;
  transform: scaleX(0); /* Initially hidden */
  transform-origin: center bottom; /* Origin at left bottom */
  transition: transform 0.5s ease;
}

.nav_links li a:hover::before {
  transform: scaleX(1); /* Show underline on hover */
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
}

/*  */

.logo {
    max-width: 100px;
    max-height: auto;
}


.audio-player {
    --player-button-width: 3em;
    --sound-button-width: 2em;
    width: 15rem;
    height: 15rem;
  }
  

  
  .player-button1,
  .player-button2,
  .player-button3,
  .player-button4,
  .player-button5{
    background-color: transparent;
    border: 0;
    width: var(--player-button-width);
    height: var(--player-button-width);
    cursor: pointer;
  }
  

  

